
    <h1>Hola soy el header:
    </h1>
    <h3>
        Aca puedo poner : barra de navegacion, logo, etc.En partials van todos los elementos que se repiten en las distintas rutas como header, footer"
        Para llevarlo con %includes y direccion de este archivo
    </h3>
    
